@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para texto en Material Design */
.text-material {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #8276db;
}

/* Estilos para texto secundario en Material Design */
.text-material-secondary {
  color: #757575;
}

.contenedor {
    display: flex;
  }
  
  .navbar {
    width: 20%;
    position: relative;
    background: #b87575;
    background-color: #b87575;
    height: 100vh;
    color: white;
    height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
  }
  
  .perfil {
    position: absolute; /* Posiciona absolutamente el contenedor de la imagen */
    top: 20px; /* Ajusta la posición vertical de la imagen */
    left: 50%; /* Coloca la imagen en el centro horizontal */
    transform: translateX(-50%); /* Centra la imagen horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
  }
  
  .perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .cajas-izquierda {
    width: 40%;
    padding: 20px;
  }
  
  .cajas-derecha {
    width: 40%;
    padding: 20px;
  }
  
  .caja-botones,
  .caja-generar-portafolio,
  .caja-titulo-boton,
  .caja-titulo-texto {
    margin-bottom: 20px;
  }

  .custom-button {
    background-color: rgb(111, 76, 175); /* Color de fondo */
    border: none; /* Elimina el borde */
    color: white; /* Color del texto */
    text-align: center; /* Alinea el texto al centro */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .custom-button:hover {
    background-color: rgb(111, 76, 175);  /* Cambia el color de fondo al pasar el ratón por encima */
    color: white;
  }